<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> 
    <title>Super Ryan The Game</title>
</head>

<body style="padding: 1rem; overflow: scroll !important;">
	<nav>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo">Super Ryan</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/">Home</a></li>
	        <li><a href="/create">Start Game</a></li>
	        <li><a href="/highscore">High Scores</a></li>
	      </ul>
	    </div>
	</nav>

    {{{body}}}
</body>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>


</html>