<h1>Create</h1>

<!--Create a player screen-->

<script type="text/javascript" src="js/phaser.js"></script>
<script type="text/javascript" src="js/test.js"></script>

<!--Ask for user input for name -->

<!--Send name to database (api route)-->

<!--Start game (direct to game.handlebars)-->